<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8"/>
    <title>login</title>
</head>
<body>
<form class="form-signin" method="post" action="/doLogin">
    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->

    <div>
        <label for="username">username</label>
        <input type="text" name="username" id="username" value="user"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="password"/>
    </div>
    <button type="submit">Sign in</button>
</form>
</body>
</html>